<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @individual.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @individual.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @individual.job_title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @individual.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @individual.phone %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @individual.comments %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
